@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.dark-theme {
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #1a202c;
    overflow: hidden;
  }

  .background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
  }

  .background li:nth-child(0) {
    left: 45%;
    width: 198px;
    height: 198px;
    bottom: -198px;
    animation-delay: 1s;
  }

  .background li:nth-child(1) {
    left: 39%;
    width: 119px;
    height: 119px;
    bottom: -119px;
    animation-delay: 2s;
  }

  .background li:nth-child(2) {
    left: 85%;
    width: 116px;
    height: 116px;
    bottom: -116px;
    animation-delay: 8s;
  }

  .background li:nth-child(3) {
    left: 88%;
    width: 137px;
    height: 137px;
    bottom: -137px;
    animation-delay: 1s;
  }

  .background li:nth-child(4) {
    left: 23%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 9s;
  }

  .background li:nth-child(5) {
    left: 78%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 4s;
  }

  .background li:nth-child(6) {
    left: 41%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 30s;
  }

  .background li:nth-child(7) {
    left: 72%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 17s;
  }

  .background li:nth-child(8) {
    left: 4%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 28s;
  }

  .background li:nth-child(9) {
    left: 69%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 31s;
  }
}

.light-theme {
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #bdc9e0;
    overflow: hidden;
  }

  .background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);
    animation: animate 19s linear infinite;
  }

  .background li:nth-child(0) {
    left: 30%;
    width: 174px;
    height: 174px;
    bottom: -174px;
    animation-delay: 1s;
  }

  .background li:nth-child(1) {
    left: 9%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 4s;
  }

  .background li:nth-child(2) {
    left: 52%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 6s;
  }

  .background li:nth-child(3) {
    left: 33%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 5s;
  }

  .background li:nth-child(4) {
    left: 7%;
    width: 144px;
    height: 144px;
    bottom: -144px;
    animation-delay: 20s;
  }

  .background li:nth-child(5) {
    left: 45%;
    width: 192px;
    height: 192px;
    bottom: -192px;
    animation-delay: 3s;
  }

  .background li:nth-child(6) {
    left: 60%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 27s;
  }

  .background li:nth-child(7) {
    left: 70%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 25s;
  }

  .background li:nth-child(8) {
    left: 25%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 39s;
  }

  .background li:nth-child(9) {
    left: 10%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 31s;
  }
}
