@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
  opacity: 0.8;
  transition: filter 0.3s ease, opacity 0.3s ease;
}